body {
  background-image: url("https://images.unsplash.com/photo-1579084659905-490afcfb3a47?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80");
  background-repeat: repeat;
  background-size: cover;
}

#beforeNav {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -50px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: white;
  font-size: 50px;
}
#beforeNav > h1 {
  opacity: 1;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#mainNav {
  margin-top: -68px;
  padding-left: 20px;
  padding-right: 20px;

  height: 80px;
  border: 1px rgb(199, 199, 199) solid;
  background-color: rgb(224, 224, 224);
  color: black;
}
#navContainer > div > a {
  color: black;
  text-decoration: none;
}

#navContainer {
  padding-bottom: 10px;
  width: 75%;
  margin: auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  text-align: center;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#searchDiv {
  margin-top: 30px;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 16px;
}
#searchDiv input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 30px;
  font-size: 18px;
  padding-left: 30px;
}

.hoverPointer:hover {
  cursor: pointer;
}
#suggestionsDiv {
  text-align: center;
  font-size: 20px;
  color: aliceblue;
  max-height: 300px;
  width: 310px;
  overflow: auto;
  margin: auto;
  background-color: rgba(100, 100, 100, 0.5);
  border: rgb(68, 67, 67) 1px solid;

  border-radius: 8px;
}
#suggestionsDiv > div {
  border-bottom: rgb(192, 192, 192) solid 1px;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#showDiv > div {
  width: 75%;
  margin: auto;
  /* display: grid;
  grid-template-columns: 33% 33% 33%; */
  text-align: center;
  color: white;
  background-color: rgba(61, 60, 60, 0.76);
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 25px;
  margin-top: 25px;
}

#showDiv img {
  width: 400px;
  margin-top: 50px;
}
#showDiv > div > :nth-child(4) {
  display: grid;
  grid-template-columns: 30% 60%;
  grid-gap: 5%;
  text-align: center;
}
#showDiv > div > :nth-child(4) > :nth-child(1) {
  font-size: 22px;
  padding: 10px;
  margin-top: 50px;
}
#showDiv span {
  font-size: 22px;
  padding: 10px;
  margin-top: 50px;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

@media screen and (max-width: 600px) {
  #beforeNav > h1 {
    opacity: 1;
    font-size: 30px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  #beforeNav {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -15px;
    margin-bottom: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
    font-size: 50px;
  }
  #navContainer {
    padding-bottom: 10px;
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    font-size: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

  #mainNav {
    margin-top: -68px;
    padding-left: 20px;
    padding-right: 20px;

    /* height: 60px; */
    border: 1px rgb(199, 199, 199) solid;
    background-color: rgb(224, 224, 224);
    color: black;
  }
  #navContainer > div > a {
    color: black;
    text-decoration: none;
  }

  #searchDiv {
    margin-top: 5px;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 16px;
  }
  #searchDiv input {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    height: 30px;
    font-size: 16px;
    padding-left: 30px;
  }

  .hoverPointer:hover {
    cursor: pointer;
  }
  #suggestionsDiv {
    text-align: center;
    font-size: 16px;
    color: aliceblue;
    max-height: 300px;
    width: 310px;
    overflow: auto;
    margin: auto;
    background-color: rgba(100, 100, 100, 0.5);
    border: rgb(68, 67, 67) 1px solid;

    border-radius: 8px;
  }
  #suggestionsDiv > div {
    border-bottom: rgb(192, 192, 192) solid 1px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  #showDiv {
    width: 95%;
    margin: auto;
  }
  #showDiv > div {
    /* display: grid;
  grid-template-columns: 33% 33% 33%; */
    text-align: center;
    width: 100%;
    color: white;
    background-color: rgba(61, 60, 60, 0.76);
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin-bottom: 25px;
    margin-top: 25px;
  }

  #showDiv img {
    width: 70%;
    margin-top: 50px;
  }
  #showDiv > div > :nth-child(4) {
    display: block;

    text-align: center;
  }
  #showDiv > div > :nth-child(4) > :nth-child(1) {
    font-size: 22px;
    padding: 10px;
    margin-top: 50px;
  }
  #showDiv span {
    font-size: 22px;
    padding: 10px;
    margin-top: 50px;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    display: none;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
}
